.THIS {
    /*background-color: blue;*/
    font-weight: bold;
    font-size: 15pt;
}

.THIS .bookInfo {
    font-weight: normal;
}

.THIS #cover {
    /*margin: 1cm;*/
    padding: 0.5cm;
    /*background-color: red;*/
    border: 2pt solid black;
    /*position: 'absolute';
    left: 0;
    top: 0; */
}

.THIS #imageContainer {
    /*background-color: black;*/
    border: 2pt solid black;
}

.THIS #textContainer {
    /*font-weight: bold;
    float: right; 
    background-color: blue; */
    border: 2pt solid black;
}

.THIS#testId {
    background-color: green;
}

.THIS.cssTest {
    color: white;
}